#include <iostream>

/* Program podajacy ilosc gwiazdek */

using namespace std;
int main(int argc, char** argv) {
	int i,a;
	cout<<"Ile gwiazdek chcesz wyswietlic?: ";
	cin>>a;
	for(i=0;i<a;i++)
	cout<<"*";
	
	return 0;
}
